  <!-- <div class="app-container"> -->
    <app-navbar2></app-navbar2>
    <main>
      <app-hero></app-hero>
      <app-about></app-about>
      <app-video></app-video>
      <app-section></app-section>
      <app-names></app-names>
      <app-contactsection></app-contactsection>
  <div class="iframe-container pb-6 md:pb-0">
    <!-- <iframe
      src="https://widgets.sociablekit.com/google-reviews/iframe/25559094"
      frameborder="0"
      allowfullscreen
    ></iframe> -->
    <div class="elfsight-app-b5156349-91b8-4ee1-829b-71d2b8e49da1" data-elfsight-app-lazy></div>
  </div>

    <app-footer></app-footer>
  <!-- </div> -->
